
// avantgardef fonts
@font-face {
    font-family: 'avantgardef';
    src: url('assets/fonts/avantgardef/AvantGardEF-Medium.eot');
    src: url('assets/fonts/avantgardef/AvantGardEF-Medium.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/avantgardef/AvantGardEF-Medium.woff') format('woff'),
         url('assets/fonts/avantgardef/AvantGardEF-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// livingtogether fonts
@font-face {
    font-family: 'livingtogether';
    src: url('assets/fonts/livingtogether/LivingTogether.eot');
    src: url('assets/fonts/livingtogether/LivingTogether.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/livingtogether/LivingTogether.woff') format('woff'),
         url('assets/fonts/livingtogether/LivingTogether.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// cacchampagne fonts
@font-face {
    font-family: 'cacchampagne';
    src: url('assets/fonts/cacchampagne/cacchampagne.eot');
    src: url('assets/fonts/cacchampagne/cacchampagne.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/cacchampagne/cacchampagne.woff') format('woff'),
         url('assets/fonts/cacchampagne/cacchampagne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// librebaskerville fonts
// font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
// @font-face {
//     font-family: 'librebaskerville';
//     src: url('../fonts/librebaskerville/LibreBaskerville-Regular.eot');
//     src: url('../fonts/librebaskerville/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/librebaskerville/LibreBaskerville-Regular.woff') format('woff'),
//          url('../fonts/librebaskerville/LibreBaskerville-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }
