
// header 
   
.header__wrapper{
  width: 100%;
  margin:0 auto;
  padding:0;
  text-align: center;     
    .header{
      display: inline-block;      
      margin:0 auto 0px auto;          
      padding: 0;
        .logo__header{
          background: url("../images/logo.png") no-repeat;
          width:533px;
          height:116px;
          margin:50px auto 35px auto;
        }
        nav.menubar--nav{
          margin: 0 auto 35px auto;
            ul.menubar--ul{
              display: inline-block;
              margin:0;
                li.menubar--li{
                  display: inline-block;
                  float:left;
                  margin: 0 40px 0 0;
                    a.menubar--a{
                      @include delay(0.2s);
                      display: block;
                      font-family: 'avantgardef';
                      font-size: 12px;
                      color:#474744;
                      letter-spacing:1px;                      
                      text-shadow:
                        0 0 0px #dbdbd9, 0 0 0px #dbdbd9, 
                        0 0 0px #dbdbd9, 0 0 0px #dbdbd9,
                        0 0 0px #dbdbd9, 0 0 0px #dbdbd9; 
                      &:hover{
                        text-shadow:
                          0 0 0px #474744, 0 0 0px #474744, 
                          0 0 0px #474744, 0 0 0px #474744,
                          0 0 0px #474744, 0 0 0px #474744;                       
                      }
                    }
                }
                li.menubar--li:last-child{
                  margin-right:0;
                }
            }
        }
    }
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1900px) {
}