
html, body{
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    font-size: 100%;
    font-weight: normal;
    color: #333;    
}
h1 {
    color: #474744;
    font-size: 34.5px;
    font-weight: normal;
    letter-spacing: 1px;
    margin:10px 0 10px 0;
    padding:0 0 0 0;
    &.lt{
        font-family: 'livingtogether';
        font-size: 41px;
        font-weight: 400;
        line-height: normal;
        margin:10px 0 0 0;
        text-shadow:
        0 0 0px #dadad9, 0 0 0px #dadad9, 
        0 0 0px #dadad9, 0 0 0px #dadad9,
        0 0 0px #dadad9, 0 0 0px #dadad9; 
    }
}
h2 {
    color:#474744;
    // color: white;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: normal;    
    line-height: 25px;
    margin:12px 0 12px 0;
    padding:0 0 0 0;
    &.lt{
        font-family: 'livingtogether';
        font-size: 31px;
    }
}
// h3 {
//     color: #fff;
//     font-size: 20px;
//     letter-spacing: 1px;
//     font-weight: bold;
//     margin:0 0 0 0;
//     padding:0 0 0 0;
// }
// h4 {
//     // color: white;
//     font-size: 18px;
//     font-weight: bold;
//     // margin:0 0 0 0;
//     // padding:0 0 0 0;
// }
// h5 {
//     // color: $abuabutext2;
//     font-size: 15px;
//     font-weight: normal;
//     margin:0 0 0 0;
//     padding:0 0 0 0;
// }
p {
    font-size: 15px;
    line-height:21px;
    color:#626467;
    letter-spacing: 0.7px;
    margin:0;
    text-shadow:
    0 0 0px #eeeeee, 0 0 0px #eeeeee, 
    0 0 0px #eeeeee, 0 0 0px #eeeeee,
    0 0 0px #eeeeee, 0 0 0px #eeeeee; 
}
small {
    font-size: 11px;
}
a{
    font-size: 12px;
    text-decoration:none;
    &:hover {
        // color: #7bb9f1;
    }
}
label{
    font-size: 12px;
    color:#000;
}
article {
    text-align: left;
    small{
    }
    p {        
    }
}
ul{
    padding:0;
    li{

    }
}

/** responsive **/

/* (0px above)----------- */
@media only screen 
and (min-width : 0px) {
}

/* (480px above)----------- */
@media only screen 
and (min-width : 480px) {
}

/* (768px above)----------- */
@media only screen 
and (min-width : 768px) {
}

/* (1024px above)----------- */
@media only screen 
and (min-width : 1024px) {  
}

/* (1360px above)----------- */
@media only screen 
and (min-width : 1360px) {  
}

/* (1440px above)----------- */
@media only screen 
and (min-width : 1440px) { 
}

